---
import ProjectsComponent from "./Projects.jsx"

---

<div class="mainBody">

  
</div>

<style lang="scss">
  .mainBody{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
</style>

<style is:global>
  .projectCardsContainer{
    display: flex; 
    flex-direction: row;
    width: 120%;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
  }

  .text-inherit {
  }

</style>