---
import Layout from '../layouts/BasicLayout.astro'
import ZigZag from '../components/zigzag/ZigZag.astro'
import TypeWriter from '../components/typewriter/Typer.astro'

const zigZagLinks = [
	{
		name: "Resume", 
		type: "page", 
		link: "/resume"
	},
	{
		name: "Projects", 
		type: "page", 
		link: "/projects"
	},
	{
		name: "Contact",
		type: "page", 
		link: "#Contact"
	}
]

const typerStrings = [
	"Software Engineer", 
	"Full Stack Developer", 
	"Web Developer", 
	"Student"
]
---

<Layout pageName="home" title="Kabir Verma">
	<div class="mainBody">
		<div class="linkColor">
			<ZigZag links={zigZagLinks} /> 
		</div>

		<div class="contentParagraphHeader text-white">
			Hi! I'm Kabir, a <span class="typer"><TypeWriter strings={typerStrings} /></span>
		</div>

		<div class="textContainer text-white">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, voluptate exercitationem ullam rerum esse id, vitae beatae adipisci illum sit, cupiditate repudiandae cum consequuntur minima atque assumenda deleniti fugit. Alias!
		</div>
	</div>
</Layout>

<style is:global>
	.headingCls{
		color: #6e81d7;
	}
</style>

<style lang="scss">
	.mainBody{
		height: 60vh;

		@media (max-width: 768px) {
			min-height: 60vh;
		}
	}

	.pageContents{}

	.linkColor{
		font-size: 1.5em;
	}
	
	.typer{
		@media (max-width: 768px){
			display: block;
		}
	}

	.contentParagraphHeader{
		font-size: 2.5em;
		padding-top: 1em;

		@media (max-width: 768px) {
			font-size: 1.5em;
			padding-top: 0em;
		}
	}

	.textContainer{
		margin: 0 0 2% 0%;
		font-size: 1.25em;

		@media (max-width: 768px) {
			font-size: 1em;
		}
	}
</style>
