---
import Layout from '../layouts/BasicLayout.astro'
---

<Layout pageName="projects" title="Projects">

<main>
  <body>
    <div class="mainBody">
      shit here
    </div>
  </body>

<main>
  

</Layout>

<style lang="scss">
  .mainBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    background-color: #5d576b
  }
  
</style>