---
import Layout from "../layouts/BasicLayout.astro"
---

<Layout pageName="resume" title="Kabir's Resume">
	<div class="mainBody">
		<div class="myStory text-white">
			<div class="myStoryHeader">My Coding Journey</div>

			<div class="myStoryText mb-8">
				Drawing weird geometries with Logo's turtle was my first coding experience but it would be a couple years before I learned about the more general purposes of programming. I started writing scripts when my godfather gifted me a copy of Micheal Dawson's <a href="https://www.amazon.ca/Python-Programming-Absolute-Beginner-Third/dp/1435455002" class="link">Python Programming for the Absolute Beginner.</a> 
				It taught me the coding basics and before I was even halfway done reading the book, I tried to make a game with just conditionals and loops. I succeeded, but barely. I soon gave up after my second draft, when I got tired of building ASCII graphics and copy-pasting my changes into each game mode(I hadn't learned about functions yet). 
				I have since built many projects in languages like Go, JavaScript and C each for different goals and purposes. I have written web apps, CLI tools, robotics software and everyday my goal is to learn more. 
				I am currently learning Rust, my goals now are to learn more about the theory of computation and lower level programming.

				<div class="leaveAReview mt-4">
					<a href="https://reviewkit.me/review/Sq3_qcXJwnv" class="link leaveAReviewHeader" target="_blank">
						<div class="leaveAReviewHeader">Leave a Review!!</div>
					</a>

					<div class="leaveAReviewText">
						I'd love to hear your thoughts, always looking for ways to improve!
					</div>
				</div>
			</div>
		</div>

		<div class="resume">
			<div class="fileLink link text-white mb-4">
				<a href="/resume.pdf" title="Link to pdf file" target="_blank">
					My resume
				</a>
			</div>
			<embed class="resumeEmbed" src="/resume.pdf" type="application/pdf" />
		</div>
	</div>
</Layout>

<style lang="scss">
	.mainBody {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		min-height: 70vh;
		margin-top: 1%;

		@media (max-width: 768px) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	.link {
		color: #6e6ed7;
		transition: all 0.3s ease-in-out;
		&:hover {
			transform: scale(1.2);
			color: #fff;
		}
	}

	.myStoryHeader {
		font-size: 2em;

		@media (max-width: 768px) {
			font-size: 1.5em;
		}
	}

	.myStory {
		padding-top: 1%;
		width: 60%;
		display: flex;
		flex-direction: column;

		@media (max-width: 768px) {
			width: 100%;
			order: 1;
			font-size: 0.75em;
			padding-top: 3vh;
		}
	}

	.myStoryText {
		font-size: 1.25em;

		@media (max-width: 768px) {
			font-size: 1em;
		}
	}

	.leaveAReview {
	}

	.leaveAReviewHeader {
		width: 50%;
		font-size: 1.25em;

		@media (max-width: 768px) {
			width: 100%;
			order: 2;
		}
	}

	.leaveAReviewText {
		font-size: 1em;
	}

	.resume {
		flex-grow: 1;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.resumeContainer {
		height: 100%;
		transform: translateY(-5%);
	}

	.fileLink {
		font-size: 2.5em;

		@media (max-width: 768px) {
			font-size: 1.5em;
		}
	}

	.resumeEmbed {
		min-height: 55vh;
		width: 80%;
		background-color: #f5f5f5;
		@media (max-width: 768px) {
			height: 70vh; 
		}
	}
</style>
