---
import Layout from '../layouts/BasicLayout.astro'
import ResumeComponent from '../components/ResumeComponent.astro'
---

<Layout pageName="resume" title="Kabir's Resume">
	<main>
			<ResumeComponent />
		</body>
	</main>
</Layout>

<style lang="scss">

</style>
