---
import HoverComponent from './ZigZag.jsx'
import * as styles from './zigzag.module.scss'

const treeItems = [
  "About Me",
  "Projects",
  "My Resume",
  "Contact",
]

const { links } = Astro.props
//     treeItems={treeItems}
---

<div class="">
  <HoverComponent 
    zigzagContainerCls={styles.zigzagContainer}
    zigzagItemCls={styles.zigzagItem} 

    links={links}
    client:load
  />

</div>

<style lang="scss">
</style>
